<div class="main f-ins">
    <div class="row mt-4 px-5">
        <div class="col-sm-12">
            <h3 class="footer-section-heading">Inspiration for future getaways</h3>
        </div>
    </div>

    <div class="row mt-3 px-5">
        <div class="col-sm-12">
            <div class="footer-subsection">
                <h4 class="footer-subsection-title">Unique Stays</h4>
                <hr class="footer-divider">
            </div>
        </div>
    </div>
    <div class="row mt-2 px-5 f-uni">
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Cabins</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Yurt Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Farm Cottages</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Cottages</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Apartments</span>
                    <span class="footer-link-location">United States</span>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Treehouses</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Castle Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Cabin Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Mansion Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Houses</span>
                    <span class="footer-link-location">United States</span>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Luxury Cabins</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Bungalows</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Private Holiday Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Villas with a Pool</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Beach Houses</span>
                    <span class="footer-link-location">United States</span>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Lakehouses</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Private Island Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Chalets</span>
                    <span class="footer-link-location">United Kingdom</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Bungalow Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Big House Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Yurt Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Farm Houses</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Cottage Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Condo Rentals</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Big Cottages</span>
                    <span class="footer-link-location">Australia</span>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="footer-links">
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Tiny Houses</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Houseboats</span>
                    <span class="footer-link-location">United States</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Luxury Cabins</span>
                    <span class="footer-link-location">United Kingdom</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Villa Rentals</span>
                    <span class="footer-link-location">United Kingdom</span>
                </a>
                <a href="#" class="footer-link">
                    <span class="footer-link-title">Holiday Houses</span>
                    <span class="footer-link-location">United Kingdom</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5 px-5 f-uni">
        <div class="col-sm-4 f-anc">
            <b>
                <p>Support</p>
            </b>
            <div class="footer-links">
                <a href="" class="footer-link">Help Centre</a>
                <a href="" class="footer-link">AirCover</a>
                <a href="" class="footer-link">Anti-discrimination</a>
                <a href="" class="footer-link">Disability support</a>
                <a href="" class="footer-link">Cancellation options</a>
                <a href="" class="footer-link">Report neighbourhood concern</a>
            </div>
        </div>
        <div class="col-sm-4">
            <b>
                <p>Hosting</p>
            </b>
            <div class="footer-links">
                <a href="" class="footer-link">Airbnb your home</a>
                <a href="" class="footer-link">Airbnb your experience</a>
                <a href="" class="footer-link">Airbnb your service</a>
                <a href="" class="footer-link">AirCover for Hosts</a>
                <a href="" class="footer-link">Hosting resources</a>
                <a href="" class="footer-link">Community forum</a>
            </div>
        </div>
        <div class="col-sm-4">
            <b>
                <p>Airbnb</p>
            </b>
            <div class="footer-links">
                <a href="" class="footer-link">2025 Summer Release</a>
                <a href="" class="footer-link">Newsroom</a>
                <a href="" class="footer-link">Careers</a>
                <a href="" class="footer-link">Investors</a>
                <a href="" class="footer-link">Airbnb.org emergency stays</a>
            </div>
        </div>
    </div>
</div>